.jumbotron{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Slabo 27px', serif;

}
#rules{
  font-family: 'Slabo 27px', serif;
  font-size: 150%;
}
.container{
  font-family: 'Slabo 27px', serif;
  font-size: 105%;

}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;
}
